.text-outline {
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.7);
}

.neon-blue {
  text-shadow:
    0 0 6px #3b82f6,
    0 0 12px #3b82f6,
    0 0 22px #3b82f6,
    0 0 36px #60a5fa,
    0 0 50px #93c5fd;
}

.neon-blue-flicker {
  animation: flicker 2.3s infinite alternate;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
    text-shadow:
      0 0 8px #3b82f6,
      0 0 20px #3b82f6,
      0 0 32px #60a5fa;
  }
  40% {
    opacity: 0.85;
    text-shadow:
      0 0 4px #3b82f6,
      0 0 10px #3b82f6;
  }
  60% {
    opacity: 0.6;
    text-shadow:
      0 0 2px #3b82f6,
      0 0 4px #3b82f6;
  }
}


.scroll-up {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  animation: moveUp 4s linear infinite;
}

@keyframes moveUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-200%);
  }
}

.scroll-Down {
  position: absolute;
  top: -100%;
  width: 100%;
  text-align: center;
  animation: flowUp 5s linear infinite;
}

@keyframes flowUp {
  0% {transform: translateY(0); }
  100%{transform: translateY(-50%);}
}

.flow-container {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.flow-container img {
  width: 100%;
  display: block;
}


.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #CBACF9;
  width: 0;
  animation:
    typing 3s steps(30, end) forwards,
    blink 0.8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  0%, 50%, 100% { border-color: transparent }
  25%, 75% { border-color: #CBACF9 }
}
